fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain_google_genai
langchain-community
google-generativeai
pydantic
firebase-admin
requests
pypdf
PyPDF2
ghostscript
faiss-cpu
python-multipart
shutilwhich  # For compatibility, but shutil is part of stdlib, so this line can be omitted if unnecessary
